.navbar{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .head{
      color: white;
      text-decoration: none;
  }
h1,h2{
    text-align: center;
}
.image-cont{
    background-image: url('images/daisy-5613691_1280.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height:750px;
    top:0;
    /* object-fit:contain; */
}
.container{
    background-color: thistle;
    height: 200px;
    margin-left: 10%;
    /* margin-right: 10%; */
}
.container1{
    background-color: thistle;
    height: 210px;
    /* margin-left: 10%; */
    margin-right: 10%; 
}
#img{
    
    float:right;
    /* padding-right: 20%; */
   height:auto;
   object-fit:contain;
}
#img1{
    float:left;
    /* padding-right: 20%; */
   height:auto;
   object-fit:contain;
}

.desc{
    /* padding-left: 10%; */
}
.center{
align-items: center;
 margin-left: auto;
 margin-right: auto;   
}
table,th,td{
    border: 2px solid black;
    text-align: center;
    border-color:green;
}
.area{
    width:60%;
}
th{
    background-color: chocolate;
}
h1,h2,h3,h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
}
.border{
/*     
    border: 1px darkorchid;
    border-style:dashed;
    border-radius: 5px;
    padding: 0.5em; */
    /* background-image: url(https://cdn5.vectorstock.com/i/1000x1000/93/99/seamless-background-with-books-vector-6099399.jpg); */
    background-repeat: no-repeat;
    background-size: 100%; 
    line-height: 20px;

}
body{
    font-family:cursive;
    font-size: larger;

}
   
.title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    color: darkblue;
}
.footer{
    text-align: center;
    
}
.cards{
    width: 25%;
    background-color: thistle;
    height: 45%;
    float:left; 
    margin-right: 5%;
    margin-left: 5%;
}
.cards1{
    width: 27%;
    background-color:thistle;
    height: 45%;
    float:left;  
    margin-left:1.75% ;
}
  
.cards2{
    width: 25%;
    background-color:thistle;
    height: 45%;
    float:right;  
    margin-right: 5%;
}
.space{
    margin-top:5%;
    margin: auto;
}
.mtm{
    width: 100%;
    height: 65%;
}
.food{
    width: 300;
    height: 345;
    margin-right: 5%;
    margin-left: 2%;
}
.foods{
    width: 300;
    height: 345;
    margin-right: 5%;
}
.foods1{
    width: 300;
    height: 345;
    /* margin-right: 5%; */
}
.contact{
    text-align: center;
    font-size: xx-large;
}
.cnt{
    margin-right: 5%;
}
.img-circular{
    width: 300px;
    height: 300px;
    background-image: url('images/circle-cropped.png');
    background-size: cover; 
     display: block;
    margin: auto;
    
   }
  