.navbar{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
/* .lis{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } */
  .head{
      /* color: white;
      text-decoration: none; */
      float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .welcome1{
    color: blanchedalmond;
   font-size: 5em;
   /* padding-right: 40%; */
   padding-top: 5%;
  }
  .welcome{
    color: blanchedalmond;
   font-size: 4em;
   padding-top: 2%;
  }
h1,h2{
    text-align: center;
}
.image-cont{
    background-image: url('images/daisy-5613691_1280.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height:750px;
    top:0;
    /* object-fit:contain; */
}
.container{
    background-color: thistle;
    height: 200px;
    margin-left: 10%;
    text-align: left;;
    /* margin-right: 10%; */
}
.container1{
    background-color: thistle;
    height: 210px;
    /* margin-left: 10%; */
    margin-right: 10%; 
    text-align: left;
}
#img{
    
    float:right;
    /* padding-right: 20%; */
   height:auto;
   object-fit:contain;
}
#img1{
    float:left;
    /* padding-right: 20%; */
   height:auto;
   object-fit:contain;
}

.desc{
    /* padding-left: 10%; */
    margin-top: 2%;
    top:20px;
    position: relative;
}
.center{
align-items: center;
 margin-left: auto;
 margin-right: auto;   
}
table,th,td{
    border: 2px solid black;
    text-align: center;
    border-color:green;
}
.area{
    width:60%;
}
th{
    background-color: chocolate;
}
h1,h2,h3,h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
}
.border{
/*     
    border: 1px darkorchid;
    border-style:dashed;
    border-radius: 5px;
    padding: 0.5em; */
    /* background-image: url(https://cdn5.vectorstock.com/i/1000x1000/93/99/seamless-background-with-books-vector-6099399.jpg); */
    background-repeat: no-repeat;
    background-size: 100%; 
    line-height: 20px;

}
body{
    font-family:cursive;
    font-size: larger;
background-color: blanchedalmond;
}
   
.title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    color: darkblue;
}
.footer{
    text-align: center;
    
}
.cards{
    width: 25%;
    background-color: thistle;
    height: 45%;
    float:left; 
    margin-right: 5%;
    margin-left: 5%;
}
.cards1{
    width: 27%;
    background-color:thistle;
    height: 45%;
    float:left;  
    margin-left:1.75% ;
}
  
.cards2{
    width: 25%;
    background-color:thistle;
    height: 45%;
    float:right;  
    margin-right: 5%;
}
.space{
    margin-top:5%;
    margin: auto;
    text-align: center;
}
.mtm{
    width: 100%;
    height: 65%;
}
.food{
    width: 300;
    height: 345;
    margin-right: 5%;
    margin-left: 2%;
    border: 1px solid black;
}
.foods{
    width: 300;
    height: 345;
    margin-right: 5%;
    border: 1px solid black;
}
.foods1{
    width: 300;
    height: 345;
    /* margin-right: 5%; */
    border: 1px solid black;
}
.draw{
    width: 300;
    height: 345;
    margin-right: 3%;
    margin-left: 2%;
    border: 1px solid black;
}
.draw1{
    width: 300;
    height: 345;
    margin-right: 3%;
    border: 1px solid black;
}

.draw2{
    width: 380;
    height: 345;
    /* margin-right: 5%; */
    border: 1px solid black;
}
}
.names{
    float: left;
    list-style-type: none;
    /* margin-right: 5%;
    margin-left: 5%; */
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    
}
.names1{
    float: left;
    list-style-type: none;
    padding-left: 13%;
    padding-right: 5%;
    font-weight: bold;
}  

.contact{
    text-align: center;
    font-size: xx-large;
}
.cnt{
    margin-right: 5%;
}
.img-circular{
    width: 300px;
    height: 300px;
    background-image: url('images/circle-cropped.png');
    background-size: cover; 
     display: block;
    margin: auto;
    
   }
  